:root {
	--purple-red: #6f034c;
	--bright-purple: #6f035a;
	--main-purple: #520143;
	--main-yellow: #ffc500;
	--darker-purple: #430037;
	--darker-yellow: #c39600;
}

body {
	align-items: center;
	background: var(--main-purple);
	color: white;
	display: flex;
	flex-direction: row;
	font-family: helvetica;
	justify-content: flex-end;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-gutter: stable;
	width: 100vw;
	height: 100vh;
	padding: 0;
	user-select: text;
	font-size: 1vw;
}

.topLeftLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20% 0 30% 0;
}

.FABlogo {
	width: 18%;
}

.LogoText {
	display: flex;
	font-size: 1.5vw;
	padding: 0 0 0 4%;
}

.boldText {
	font-weight: 600;
}

.sidebar {
	display: flex;
	width: 15%;
	height: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	background: var(--darker-purple);
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	left: 0;
}

.page {
	width: 85%;
	background: var(--main-purple);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	right: 0;
}

.sectionWrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 16vw;
	width: 100%;
}

.sectionWrap .section:first-child {
	border-radius: 1vw 0 0 0;
}

.sectionWrap .section:last-child {
	border-radius: 0 0 0 1vw;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--main-yellow);
}

a:hover {
	color: var(--main-yellow);
	transition: 0.25s;
}

.section {
	background: var(--darker-purple);
	width: 100%;
	text-align: center;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}

.section:hover,
.section.active {
	background: var(--main-purple);
	color: var(--main-yellow);
	border-left: 0.1vw solid var(--main-yellow);
}

.section:hover {
	transition: 0.25s !important;
}

.sectionTitle {
	font-weight: 600;
	margin: 3% 0;
}

input[type="checkbox"] {
	appearance: none;
	aspect-ratio: 1;
	background: white;
	outline: none;
	transition: 0.5s;
	width: 1vw;
	cursor: pointer;
}

input[type="checkbox"]:checked {
	background: var(--main-yellow);
	background-image: url("../../img/tick.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.sectionSelect {
	width: 100%;
	display: flex;
	min-height: 3vw;
	flex-direction: row;
	border-radius: 1vw;
}

.listSection {
	border-right: none !important;
	border-left: none !important;
	cursor: pointer;
	width: 50%;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.listSection:first-child,
.listSection:last-child {
	border: 0.1vw solid white;
}

.listSection:hover,
.listSection.active {
	background: var(--darker-purple);
	color: var(--main-yellow);
	border: 0.1vw solid var(--main-yellow);
}

.listSection:hover {
	transition: 0.5s;
}

.fandomInput {
	background: none;
	border: 0.1vw solid white;
	border-radius: 1vw;
	font-size: 1vw;
	width: 40%;
	min-height: 2.5vw;
	margin: 5% 0 0 0;
	padding: 0 0 0 2%;
	color: white;
	outline: none;
}

.fandomInput::placeholder {
	color: white;
}

.list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: min-content;
	justify-content: flex-start;
}

.listItem {
	width: 64%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 55%;
	background: var(--main-purple);
	border: 0.1vw solid white;
	padding: 0 0 0 4%;
}

.message {
	margin: 2% 0 0 0;
}

.removeItem {
	color: var(--main-yellow);
	cursor: pointer;
	width: 20%;
	height: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bright-purple);
	border: var(--main-yellow) 0.1vw solid;
	border-radius: 0.5vw;
}

.removeItem:hover,
.clearAllButton:hover {
	background: var(--main-yellow);
	color: var(--bright-purple);
	border: var(--bright-purple) 0.1vw solid;
	transition: 0.5s;
}

.listItemContainer {
	display: flex;
	width: 100%;
	height: 4vw;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.clearAllButton {
	margin: 3% 0;
	cursor: pointer;
	color: var(--main-yellow);
	background: var(--bright-purple);
	border: 0.1vw solid var(--main-yellow);
	border-radius: 0.5vw;
	width: 14%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5vw;
}

.aboutText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	justify-content: space-between;
}

.statisticItem {
	height: 1vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 44%;
	border: 0.1vw solid white;
	padding: 1%;
	margin: 0 0 2% 0;
	font-weight: 600;
	background: var(--purple-red);
}

.statisticsTextWrap {
	border: 0.1vw;
	border-radius: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 11vw;
	padding: 1%;
}

.statisticsText {
	text-align: center;
	line-height: 160%;
}

.mainStat {
	border: 0.1vw solid var(--main-yellow);
	margin: 3% 0;
	width: 30%;
	height: 2vw;
}

.statisticsHeader {
	width: 20%;
	border: 0.1vw solid var(--main-yellow);
	height: 3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2% 0 2% 0;
	color: var(--main-yellow);
	background: var(--purple-red);
	font-weight: 600;
}

.textRight {
	color: var(--main-yellow);
}

.textLeft {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.textHighlight {
	text-align: center;
	background: #00000063;
	border-radius: 0.5vw;
	font-family: 'Courier New', monospace;
	font-weight: normal;
	margin: 0 0 0 3%;
	padding: 0 3%;
	min-width: fit-content;
	height: 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message {
	animation: appearHide 3s linear;
}

.allowedList {
	width: 30%;
	background: var(--bright-purple);
	border-radius: 1vw;
	display: flex;
	border: 0.1vw solid var(--darker-purple);
	justify-content: space-between;
	padding: 0 1%;
}

.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 6vw;
	margin: 40% 0 0 0;
	border-top: 0.1vw solid var(--bright-purple);
}

.topWrap {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.noItemContainer {
	height: 2.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.option {
	background: var(--bright-purple);
	border: solid 0.1vw var(--darker-purple);
	padding: 1% 2%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1vw;
	border-radius: 1vw;
}

@keyframes appearHide {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}