:root {
    --main-purple: #520143;
    --main-yellow: #ffc500;
    --darker-purple: #430037;
    --darker-yellow: #c39600;
}

body {
    align-items: center;
    background: var(--main-purple);
    color: white;
    display: flex;
    flex-direction: row;
    font-family: helvetica;
    justify-content: flex-end;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
    user-select: text;
    font-size: 1.5vw;
}

.topLeftLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10% 0;
}

.FABlogo {width: 18%;}

.LogoText {
	display: flex;
	font-size: 2.5vw;
	padding: 0 0 0 10px;
}

.boldText {
	font-weight: 600;
}

.sidebar {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--darker-purple);
    position: fixed;
    left: 0;
}

.page {
    width: 80%;
    background: var(--main-purple);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sectionWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-yellow);
}

a:hover {
    color: var(--darker-yellow);
    transition: 0.25s;
}

.section {
    background: var(--darker-purple);
    width: 100%;
    text-align: center;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section:hover {
    background: var(--darker-purple);
    transition: 0.5s !important;
}

.section.active {
    background: var(--main-purple);
}

.sectionTitle {
    font-weight: 600;
    margin: 2% 0;
}

input[type="checkbox"] {
    cursor: pointer;
}

.sectionSelect {
    width: 100%;
    display: flex;
    height: 7%;
    flex-direction: row;
}

.listSection {
    cursor: pointer;
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listSection:hover {
    background: var(--darker-purple);
    transition: 0.5s;
}

.listSection.active {
    background: var(--darker-purple);
}

.fandomInput {
    background: none;
    border: 0.1vw solid white;
    border-radius: 3vw;
    font-size: 1.5vw;
    width: 40%;
    height: 6%;
    margin: 3%;
    padding: 0 0 0 2%;
    color: white;
    outline: none;
}

.fandomInput::placeholder {
    color: grey;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: min-content;
}

.listItem {
    margin: 0 0 1% 0;
}

.message {margin: 0 0 2% 0;}